In [2]:
import json
import pandas as pd

In [161]:
data_list = []
with open('course_data_40page.json', 'r') as f:
    data_json = json.load(f)

In [154]:
df = pd.read_json('course_data_40page.json')

In [171]:
entry

{'courseidentifier': '10005451/1089/Part-time',
 'uniname': 'Arden University',
 'uniid': '10005451',
 'coursename': 'BSc (Hons) Supply Chain Management with Foundation Year',
 'link': '/course-details/10005451/1089/Part-time',
 'course_name': 'BSc (Hons) Supply Chain Management with Foundation Year',
 'Study mode': 'Part time',
 'Distance learning': 'Yes',
 'Placement year': 'Not Available',
 'Year abroad': 'Not Available',
 'Foundation year': 'Compulsory',
 'earning': [],
 'employment': [],
 'occuption': []}

In [179]:
dfs = []

# Iterate through the JSON entries and create DataFrames
for entry in data_json:
    courseidentifier = entry["courseidentifier"]
    uniname = entry["uniname"]
    uniid = entry["uniid"]
    coursename = entry["coursename"]
    link = entry["link"]
    course_name = entry["course_name"]
    Study_mode = entry["Study mode"]
    Distance_learning = entry["Distance learning"]
    Placement_year = entry["Placement year"]
    Year_abroad = entry["Year abroad"]
    Foundation_year = entry["Foundation year"]
    
    df_dict = {
                    "courseidentifier": courseidentifier,
                    "uniname": uniname,
                    "uniid": uniid,
                    "coursename": coursename,
                    "link": link,
                    "course_name": course_name,
                    "Study mode": Study_mode,
                    "Distance learning": Distance_learning,
                    "Placement year": Placement_year,
                    "Year abroad": Year_abroad,
                    "Foundation year": Foundation_year
                }
    if 'Length' in entry.keys():
        df_dict.update({'Length':entry['Length']})
    else:
        df_dict.update({'Length':''})
        
    #Earning
    for idx, earning_item in enumerate(entry["earning"]):
        for subject, subject_data in earning_item.items():
            
            df_dict.update({f'subject{idx+1}_subject':subject})
            
            for time_period, time_data in subject_data.items():
                for k, v in time_data.items():
                    df_dict.update({f'subject{idx+1}_{time_period}_{k}'.replace(' ','_').lower():v.strip('\n')})
    #Employment                
    for idx, employment_item in enumerate(entry['employment']):
        for subject, subject_data in employment_item.items():
            for k, v in subject_data.items():
                df_dict.update({f'subject{idx+1}_{k}'.replace(' ','_').replace('-','_').lower():v.strip('\n')})
    
    #occuption
    for idx, occuption_items in enumerate(entry['occuption']):
        for occuption_c,  occuption_item in enumerate(occuption_items.items()):
            df_dict.update({f'subject{idx+1}_occuption_{occuption_item[0]}'.replace(' ','_').replace('-','_').replace(',','').lower():occuption_item[1]})
    
    df = pd.DataFrame([df_dict])
    dfs.append(df)

# Concatenate all DataFrames into one
final_df = pd.concat(dfs, ignore_index=True)

# Display the resulting DataFrame

In [184]:
final_df.to_csv('discover_uni(1).csv')

In [136]:
occuption_item

{' Business and public service associate professionals': '25%',
 ' Teaching Professionals': '10%',
 ' Artistic, literary and media occupations': '10%',
 ' Business, Research and Administrative Professionals': '5%',
 ' Media Professionals': '5%',
 ' Protective service occupations': '5%',
 ' Sales occupations': '15%',
 ' Elementary occupations': '10%',
 ' Animal care and control services': '5%',
 ' Administrative occupations': '5%',
 'other': 'Employed after finishing the course but employment type is not known'}

In [146]:
for idx, occuption_items in enumerate(entry['occuption']):
    for occuption_c,  occuption_item in enumerate(occuption_items.items()):
        print({f'subject{idx+1}_occuption_{occuption_item[0]}'.replace(' ','_').replace('-','_').lower():occuption_item[1]})

{'subject1_occuption__business_and_public_service_associate_professionals': '25%'}
{'subject1_occuption__teaching_professionals': '15%'}
{'subject1_occuption__artistic,_literary_and_media_occupations': '5%'}
{'subject1_occuption__managers,_directors_and_senior_officials': '5%'}
{'subject1_occuption__media_professionals': '5%'}
{'subject1_occuption__welfare_and_housing_associate_professionals': '5%'}
{'subject1_occuption__administrative_occupations': '20%'}
{'subject1_occuption__customer_service_occupations': '5%'}
{'subject1_occuption__elementary_occupations': '5%'}
{'subject1_occuption__skilled_trades_occupations': '5%'}
{'subject1_occuption_other': 'Employed after finishing the course but employment type is not known'}
{'subject2_occuption__business_and_public_service_associate_professionals': '25%'}
{'subject2_occuption__teaching_professionals': '10%'}
{'subject2_occuption__artistic,_literary_and_media_occupations': '10%'}
{'subject2_occuption__business,_research_and_administrative_professionals': '5%'}
{'subject2_occuption__media_professionals': '5%'}
{'subject2_occuption__protective_service_occupations': '5%'}
{'subject2_occuption__sales_occupations': '15%'}
{'subject2_occuption__elementary_occupations': '10%'}
{'subject2_occuption__animal_care_and_control_services': '5%'}
{'subject2_occuption__administrative_occupations': '5%'}
{'subject2_occuption_other': 'Employed after finishing the course but employment type is not known'}

In [145]:
occuption_item[0]

'other'

In [121]:
subject

'English studies (non-specific)'

In [39]:
final_df = pd.concat(dfs, ignore_index=True)

In [22]:
with open('course_data_40page.json','r') as f:
    data = json.loads(f.read())

In [24]:
df_nested_list = pd.json_normalize(data, record_path =['earning'])

In [26]:
df_nested = pd.json_normalize(
    data, 
    record_path =['earning']
)

In [27]:
df_nested.head()

,"Sociology, social policy and anthropology.After 15 months.average_salary","Sociology, social policy and anthropology.After 15 months.salary_range","Sociology, social policy and anthropology.After 15 months.data_from","Sociology, social policy and anthropology.After 15 months.graduating","Sociology, social policy and anthropology.After 3 years.average_salary","Sociology, social policy and anthropology.After 3 years.salary_range","Sociology, social policy and anthropology.After 3 years.data_from","Sociology, social policy and anthropology.After 3 years.graduating","Sociology, social policy and anthropology.After 5 years.average_salary","Sociology, social policy and anthropology.After 5 years.salary_range",...,Information technology.After 15 months.data_from,Information technology.After 15 months.graduating,Information technology.After 3 years.average_salary,Information technology.After 3 years.salary_range,Information technology.After 3 years.data_from,Information technology.After 3 years.graduating,Information technology.After 5 years.average_salary,Information technology.After 5 years.salary_range,Information technology.After 5 years.data_from,Information technology.After 5 years.graduating
0,"£25,000","Typical range: £20,500 - £28,000",15 people,Data for students graduating 2020-21,"£21,500","Typical range: £18,500 - £26,000",60 people.\n,Data for students graduating 2013-15,"£26,000","Typical range: £21,000 - £32,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"£25,000","Typical range: £20,500 - £28,000",15 people,Data for students graduating 2020-21,"£21,500","Typical range: £18,500 - £26,000",60 people.\n,Data for students graduating 2013-15,"£26,000","Typical range: £21,000 - £32,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"£25,000","Typical range: £20,500 - £28,000",15 people,Data for students graduating 2020-21,"£21,500","Typical range: £18,500 - £26,000",60 people.\n,Data for students graduating 2013-15,"£26,000","Typical range: £21,000 - £32,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN