In [1]:
import json
import pandas as pd

In [2]:
data_list = []
with open('course_data_40page.json', 'r') as f:
    data_json = json.load(f)

In [3]:
df = pd.read_json('course_data_40page.json')

In [5]:
dfs = []

# Iterate through the JSON entries and create DataFrames
for entry in data_json:
    courseidentifier = entry["courseidentifier"]
    uniname = entry["uniname"]
    uniid = entry["uniid"]
    coursename = entry["coursename"]
    link = entry["link"]
    course_name = entry["course_name"]
    Study_mode = entry["Study mode"]
    Distance_learning = entry["Distance learning"]
    Placement_year = entry["Placement year"]
    Year_abroad = entry["Year abroad"]
    Foundation_year = entry["Foundation year"]
    
    df_dict = {
                    "courseidentifier": courseidentifier,
                    "uniname": uniname,
                    "uniid": uniid,
                    "coursename": coursename,
                    "link": link,
                    "course_name": course_name,
                    "Study mode": Study_mode,
                    "Distance learning": Distance_learning,
                    "Placement year": Placement_year,
                    "Year abroad": Year_abroad,
                    "Foundation year": Foundation_year
                }
    if 'Length' in entry.keys():
        df_dict.update({'Length':entry['Length']})
    else:
        df_dict.update({'Length':''})
        
    #Earning
    for idx, earning_item in enumerate(entry["earning"]):
        for subject, subject_data in earning_item.items():
            
            df_dict.update({f'subject{idx+1}_subject':subject})
            
            for time_period, time_data in subject_data.items():
                for k, v in time_data.items():
                    df_dict.update({f'subject{idx+1}_{time_period}_{k}'.replace(' ','_').lower():v.strip('\n')})
    #Employment                
    for idx, employment_item in enumerate(entry['employment']):
        for subject, subject_data in employment_item.items():
            for k, v in subject_data.items():
                df_dict.update({f'subject{idx+1}_{k}'.replace(' ','_').replace('-','_').lower():v.strip('\n')})
    
    #occuption
    for idx, occuption_items in enumerate(entry['occuption']):
        for occuption_c,  occuption_item in enumerate(occuption_items.items()):
            df_dict.update({f'subject{idx+1}_occuption_{occuption_item[0]}'.replace(' ','_').replace('-','_').replace(',','').lower():occuption_item[1]})
    
    df = pd.DataFrame([df_dict])
    dfs.append(df)

# Concatenate all DataFrames into one
final_df = pd.concat(dfs, ignore_index=True)

# Display the resulting DataFrame

In [184]:
final_df.to_csv('discover_uni(1).csv')

In [13]:
final_df.shape

(33368, 284)

In [14]:
final_df.head()

,courseidentifier,uniname,uniid,coursename,link,course_name,Study mode,Distance learning,Placement year,Year abroad,...,subject5_occuption__artistic_literary_and_media_occupations,subject5_occuption__secretarial_and_related_occupations,subject3_occuption__health_associate_professionals,subject3_occuption__animal_care_and_control_services,subject3_occuption__medical_practitioners,subject4_occuption__sports_and_fitness_occupations,subject4_occuption__welfare_and_housing_associate_professionals,subject4_occuption__teaching_and_childcare_support_occupation,subject4_occuption__leisure_travel_and_related_personal_service_occupations,subject4_occuption__customer_service_occupations
0,10008071/AAUNDERRADUATE5YEAR/Full-time,AA School of Architecture,10008071,MArch Architecture,/course-details/10008071/AAUNDERRADUATE5YEAR/F...,MArch Architecture,Full time,Not Available,Not Available,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10007783/LV61/Full-time,University of Aberdeen,10007783,MA (Hons) Anthropology and History,/course-details/10007783/LV61/Full-time,MA (Hons) Anthropology and History,Full time,Not Available,Not Available,Optional,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10007783/LV65/Full-time,University of Aberdeen,10007783,MA (Hons) Anthropology and Philosophy,/course-details/10007783/LV65/Full-time,MA (Hons) Anthropology and Philosophy,Full time,Not Available,Not Available,Optional,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10007783/LR61/Full-time,University of Aberdeen,10007783,MA (Hons) Anthropology and French,/course-details/10007783/LR61/Full-time,MA (Hons) Anthropology and French,Full time,Not Available,Not Available,Compulsory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10007783/LQ65/Full-time,University of Aberdeen,10007783,MA (Hons) Anthropology and Gaelic,/course-details/10007783/LQ65/Full-time,MA (Hons) Anthropology and Gaelic,Full time,Not Available,Not Available,Optional,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN